.Details{
    margin: 30px;
    border: 1px solid red;
    background-color: blueviolet;
    text-decoration-color: cornsilk;
    border-radius: 5px;
    padding-left: 30px;
}
h2{
    color: cornsilk;
}
#Name{
    font-size: 50px;
}
#Description{
    margin: 25px;
    font-size: larger;
}
.Icon{
    text-align: center;
    font-size: 80px;
}
#logo{
    position: relative;
    height: 230px;
    width: 230px;
    justify-items: center;
    margin-left: 600px;
    margin-top: 50px;
}
.banner{
    height: 350px;
}
.Condition{
    margin-top: 5px;
}